/Lab10/00Aprendiendo/Aprendo/nbproject/private/
/Lab10/00Aprendiendo/Aprendos/nbproject/private/
/Lab10/00Aprendiendo/Aprendos/build/
/Lab10/00Aprendiendo/Aprendiendo/nbproject/private/
/Lab10/00Aprendiendo/Aprendiendo/dist/
/Lab10/00Aprendiendo/Aprendiendo/build/
/Lab10/01Lab10_2025_1_20203361_Valentin_James/Proyecto/Lab10_25_1/nbproject/private/
/Lab10/01Lab10_2025_1_20203361_Valentin_James/Proyecto/Lab10_25_1/build/
/Lab10/01Lab10_2025_1_20203361_Valentin_James/Proyecto/Lab10_25_1/dist/
/Lab10/02Lab10_2024_2_20203361_Valentin_James/Proyecto/Lab10_24_2/nbproject/private/
/Lab10/02Lab10_2024_2_20203361_Valentin_James/Proyecto/Lab10_24_2/build/
/Lab10/02Lab10_2024_2_20203361_Valentin_James/Proyecto/Lab10_24_2/dist/
